@import '../../style.scss';

.benefits {
    margin-top: 200px;
    max-width: 1916px;
    width: 100%;
    min-height: 523px;
    background-image: url('../../assets/Waves1.svg');
    background-size: contain;
    background-repeat: no-repeat;

    .benefits__waves {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 602px;


        .benefits__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
            margin-top: 58px;
            max-width: 1395px;
        }
    }



}