@import '../../../style.scss';

.picture {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 882px;
    width: 100%;
    min-height: 810px;

    .picture__space {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 882px;
        width: 100%;
        min-height: 693px;
        background-image: url('../../../assets/Space.png');
        background-repeat: no-repeat;
        background-position: top right;
        position: relative;
        animation: fadeIn 2s;

        @keyframes fadeIn {
            0% {
                opacity: 0;
            }

            25% {
                opacity: 0;
            }

            100% {
                opacity: 1;
            }
        }

        .picture__spaceStars {
            position: absolute;
            top: 17px;
            right: 42px;
        }

        .picture__spacePlane {
            position: absolute;
            bottom: 319px;
            right: 30px;
            animation: animationPlane 12s infinite;

            @keyframes animationPlane {
                0% {
                    transform: rotate(45deg) scale(0.5);
                }

                50% {
                    transform: rotate(0deg) scale(1);
                }

                100% {
                    transform: rotate(45deg) scale(0.5);
                }
            }
        }

        .picture__spaceElephant {
            position: absolute;
            top: 225px;
            right: 157px;
            animation: animationElephant 12s infinite;

            @keyframes animationElephant {
                0% {
                    right: 157px;
                    transform: rotate(0deg);
                }

                50% {
                    right: 147px;
                    transform: rotate(41deg);
                }

                100% {
                    right: 157px;
                    transform: rotate(0deg);
                }
            }
        }

        .picture__spaceClock {
            position: absolute;
            top: 220px;
            left: 118px;
            animation: animationClock ease 12s infinite;

            @keyframes animationClock {
                0% {
                    transform: scale(0.7) rotate(0deg);
                    animation-timing-function: ease-in;
                }

                50% {
                    transform: scale(1) rotate(-180deg);
                    animation-timing-function: ease-out;
                }

                100% {
                    transform: scale(0.7) rotate(-359deg);
                }
            }
        }

        .picture__spaceBulb {
            position: absolute;
            bottom: 231px;
            right: 283px;
            animation: animationBulb 12s infinite;

            @keyframes animationBulb {
                0% {
                    transform: rotate(0deg);
                }

                10.8% {
                    transform: rotate(0deg);
                }

                40% {
                    transform: rotate(40deg);
                }

                69.2% {
                    transform: rotate(-45deg);
                }

                85.8% {
                    transform: rotate(-25deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }
        }

        .picture__spacePlanet1 {
            position: absolute;
            top: 82px;
            left: 209px;
            animation: animationPlanet1 12s infinite;

            @keyframes animationPlanet1 {
                0% {
                    top: 82px;
                    left: 209px;
                }

                50% {
                    top: 102px;
                    left: 159px
                }

                100% {
                    top: 82px;
                    left: 209px;
                }
            }
        }

        .picture__spacePlanet2 {
            position: absolute;
            top: 134px;
            left: 427px;
            animation: animationPlanet2 12s infinite;

            @keyframes animationPlanet2 {
                0% {
                    left: 427px;
                }

                7% {
                    left: 427px;
                }

                50% {
                    left: 457px
                }

                100% {
                    left: 427px;
                }
            }
        }

        .picture__spacePlanet3 {
            position: absolute;
            bottom: 182px;
            left: 318px;
            animation: animationPlanet3 12s infinite;

            @keyframes animationPlanet3 {
                0% {
                    transform: rotate(0deg);
                }

                50% {
                    transform: rotate(-45deg);
                }

                100% {
                    transform: rotate(0deg);
                }
            }
        }

        .picture__spaceAtom {
            position: absolute;
            top: 132px;
            left: 75px;
            animation: animationAtom 12s infinite;

            @keyframes animationAtom {
                0% {
                    transform: rotate(0deg) scale(1);
                    animation-timing-function: ease-in;
                }

                50% {
                    transform: rotate(45deg) scale(0);
                    animation-timing-function: ease-out;
                }

                100% {
                    transform: rotate(0deg) scale(1);
                }
            }
        }

        .picture__spaceZero {
            position: absolute;
            top: 260px;
            right: 110px;
            font-family: 'Inter';
            font-size: 26px;
            line-height: 31px;
            color: #fcc947;
            transform: matrix(0.97, -0.25, 0.25, 0.97, 0, 0);
        }

        .picture__spaceOne {
            position: absolute;
            top: 209px;
            right: 44px;
            font-family: 'Inter';
            font-size: 26px;
            line-height: 31px;
            color: #E075AD;
            transform: matrix(0.87, 0.5, -0.5, 0.87, 0, 0);
        }

        .picture__spaceSegmentation {
            position: absolute;
            top: 185px;
            right: 332px;
            animation: animationSegmentation 12s infinite;

            @keyframes animationSegmentation {
                0% {
                    transform: scale(0.5);
                    animation-timing-function: ease-out;
                }

                25% {
                    transform: scale(1);
                    opacity: 1;
                    animation-timing-function: ease-in;
                }

                50% {
                    transform: scale(1.2);
                    opacity: 0;
                }

                100% {
                    opacity: 0;
                }
            }
        }

        .picture__spacePlus {
            position: absolute;
            top: 241px;
            right: 420px;
            animation: animationPlus 12s infinite;

            @keyframes animationPlus {
                0% {
                    opacity: 0;
                }

                50% {
                    transform: scale(0.5);
                    opacity: 0;
                    animation-timing-function: ease-out;
                }

                75% {
                    transform: scale(1);
                    opacity: 1;
                    animation-timing-function: ease-in;
                }

                100% {
                    transform: scale(1.2);
                    opacity: 0;
                }
            }
        }

        .picture__spacePalette {
            position: absolute;
            top: 119px;
            right: 89px;
            animation: animationPalette 12s infinite;

            @keyframes animationPalette {
                0% {
                    transform: rotate(0deg);
                }

                25% {
                    transform: rotate(0deg);
                }

                83% {
                    transform: rotate(359deg);
                }

                100% {
                    transform: rotate(359deg);
                }

            }
        }

        .picture__spaceRocket {
            position: absolute;
            bottom: 200px;
            left: 88px;
            animation: animationRocket 12s ease-out infinite;

            @keyframes animationRocket {
                0% {
                    bottom: 200px;
                }

                66% {
                    bottom: 270px;
                }

                100% {
                    bottom: 200px;
                }

            }
        }

        .picture__spaceBalloon {
            position: absolute;
            top: 280px;
            left: 359px;
            animation: animationBalloon 12s infinite;

            @keyframes animationBalloon {
                0% {
                    top: 280px;
                }

                50% {
                    top: 314px;
                }

                100% {
                    top: 280px;
                }

            }
        }

        button {
            width: 180px;
            height: 44px;
            margin-top: 33px;
            border: 1px solid $mainFontColor;
            border-radius: 15px;
            background: $mainColor;
            color: $mainFontColor;
            font-weight: 400;
        }
    }

    .picture__girl {

        .picture__girlGroup1 {
            position: absolute;
            top: 559.25px;
            right: 297.55px;
            z-index: 2;
        }

        .picture__girlGroup2 {
            position: absolute;
            top: 541.94px;
            right: 269.88px;
            z-index: 1;
        }

        .picture__girlGroup3 {
            position: absolute;
            top: 482.9px;
            right: 237.42px;
        }

        .picture__girlGroup4 {
            position: absolute;
            top: 473.4px;
            right: 374.17px;
        }

        .picture__girlGroup5 {
            position: absolute;
            top: 681.19px;
            right: 345.03px;
            z-index: 7;
        }

        .picture__girlGroup6 {
            position: absolute;
            top: 638.53px;
            right: 248.99px;
            z-index: 4;
        }

        .picture__girlGroup7 {
            position: absolute;
            top: 626.99px;
            right: 302px;
            z-index: 3;
        }

        .picture__girlGroup8 {
            position: absolute;
            top: 695.73px;
            right: 247.55px;
            z-index: 2;
        }

        .picture__girlGroup9 {
            position: absolute;
            top: 728.55px;
            right: 237.4px;
            z-index: 1;
        }

        .picture__girlHand {
            position: absolute;
            top: 683.99px;
            right: 359.25px;
            z-index: 6;
        }

        .picture__girlList {
            position: absolute;
            top: 651.4px;
            right: 358.06px;
            z-index: 5;
        }

        .picture__girlPen {
            position: absolute;
            top: 630px;
            right: 402.31px;
            z-index: 4;
            animation: animationPen 4.5s cubic-bezier(1, -2, 1, 1.5) infinite;

            @keyframes animationPen {
                0% {
                    top: 630px;
                    transform: rotate(0deg);
                }

                33% {
                    top: 630px;
                    right: 395px;
                    transform: rotate(42deg);
                }

                66% {
                    top: 622px;
                    right: 402px;
                    transform: rotate(-6deg);
                }

                100% {
                    top: 630px;
                    right: 402.31px;
                    transform: rotate(0deg);
                }
            }
        }

        .picture__girlPaperPlanes {
            position: absolute;
            top: 716px;
            right: 525px;

        }
    }
}