.subscribe {
    display: flex;
    flex-direction: column;
    max-width: 1680px;
    width: 100%;
    min-height: 373px;
    background-image: url('../../assets/Subscribe.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 81px;
    text-align: center;
    padding: 30px 10px;
    align-items: center;

    h2 {
        color: white;
        margin-bottom: 20px;
    }

    p {
        color: white;
        font-size: 18px;
    }

    .subscribe__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 930px;
        width: 100%;
        margin-top: 40px;
        gap: 10px;

        input {
            max-width: 540px;
            width: 100%;
            margin-right: 30px;
        }
    }

    .agreement {
        display: flex;
        gap: 17px;
        max-width: 930px;
        width: 100%;
        margin-top: 22px;

        input[type='checkbox'] {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            display: inline-block;
            width: 24px;
            height: 24px;
            border: 1.5px solid var(--mainAccentColor);
            border-radius: 6px;
            background: white;
        }

        input[type='checkbox']:checked {
            background-image: url('../../assets/Check.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 14px 14px;
            background-color: var(--mainAccentColor);
            border: 2px solid var(--mainAccentColor);
        }

        p {
            color: #d6d7dd;
            text-align: left;
            font-size: 15px;
            max-width: 449px;
            font-size: 15px;
            line-height: 18px;
            letter-spacing: 0.04em;

            a {
                color: white;
                font-weight: 700;
                text-decoration: underline 1px var(--mainAccentColor);
            }
        }
    }

}