.AppAlt {
    --mainFontAlt: 'Rubik', sans-serif;
    --secondaryFontAlt: 'Nunito', sans-serif;
    --mainFontColorAlt: blue;
    --secondaryFontColorAlt: red;

    --mainColorAlt: #ffffff;
    --mainAccentColorAlt: blue;
    --secondaryAccentColorAlt: green;
}