.App {
    --mainFontRoot: 'Nunito', sans-serif;
    --secondaryFontRoot: 'Rubik', sans-serif;
    --mainFontColorRoot: #1f1d2a;
    --secondaryFontColorRoot: #4f5569;

    --mainColorRoot: #ffffff;
    --mainAccentColorRoot: #14a76c;
    --secondaryAccentColorRoot: #ff652f;
}