$mainFont: 'Nunito', sans-serif;
$secondaryFont: 'Rubik', sans-serif;


$mainColor: #ffffff;
$mainAccentColor: #14a76c;
$secondaryAccentColor: #ff652f;
$mainFontColor: #1f1d2a;
$secondaryFontColor: #4f5569;

h1 {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 55px;
    line-height: 122%;
    color: $mainFontColor;
}

h2 {
    font-family: $mainFont;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    letter-spacing: 0.04em;
    color: $mainFontColor;
}

p {
    font-family: $secondaryFont;
    font-size: 22px;
    line-height: 150%;
    letter-spacing: 0.05em;
    color: $mainFontColor;
}

button {
    padding: 10px;
    width: 300px;
    height: 60px;
    background: $mainAccentColor;
    box-shadow: 0px 15px 30px rgba(25, 218, 140, 0.25);
    border-radius: 15px;
    border: none;
    color: $mainColor;
    font-family: $secondaryFont;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
}

input {
    height: 60px;
    border: 1px solid #9FA0A7;
    border-radius: 15px;
    padding-left: 20px;
    font-family: $secondaryFont;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: $secondaryFontColor;
}


.agreement {
    max-width: 483px;
    width: 100%;
    display: flex;
    gap: 17px;
    margin: 50px 0px;

    input[type='checkbox'] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        display: inline-block;
        width: 24px;
        height: 24px;
        border: 1.5px solid $mainAccentColor;
        border-radius: 6px;
        background: white;
    }

    input[type='checkbox']:checked {
        background-image: url('./assets/Check.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 14px 14px;
        background-color: $mainAccentColor;
        border: 2px solid $mainAccentColor;
    }

    p {
        font-size: 15px;
        line-height: 18px;
        letter-spacing: 0.04em;
        color: #9FA0A7;

        a {
            color: $mainAccentColor;
            text-decoration: underline 1px $mainAccentColor;
        }
    }
}

.underline {
    text-decoration: underline #ff946e wavy 5px;
    text-underline-offset: 4px;
}