@import '../../style.scss';

.sertificate {
    display: flex;
    justify-content: center;
    max-width: 1923px;
    width: 100%;
    min-height: 636px;
    margin-bottom: 44px;
    background-image: url('../../assets/Waves2.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

    .sertificate__void {
        max-width: 214px;
        width: 100%;
    }

    .sertificate__info {
        max-width: 500px;
        margin-top: 56px;

        h2 {
            margin-bottom: 27px;
        }

        p {
            font-size: 18px;
            color: $secondaryFontColor;
            margin-bottom: 27px;
        }
    }
}